<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <a [routerLink]="['/product', product.id]">
        <img class="p-8 rounded-t-lg " [src]="product.images[0]" alt="product image" />
    </a>
    <div class="px-5 pb-5">
        <h5 class="text-base h-[50px] font-semibold tracking-tight text-gray-900 ">{{ product.title | uppercase | reverse}}</h5>
        <p class="text-sm font-medium text-gray-400">{{product.creationAt | timeAgo }}</p>
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 ">{{ product.price | currency:'$ ':'symbol':'1.0' }}</span>
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            (click)="addToCartHandler()">Add to Cart</button>
        </div>
    </div>
</div>